# --- Python & Environment ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# --- Machine Learning Models ---
# We ignore the heavy brain files; users should run train.py to generate them
*.joblib
*.h5
*.lib

# --- Streamlit ---
.streamlit/
static/

# --- IDE & OS ---
.vscode/